@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <h3>Böyle bir dğişiklik yapıyoruz</h3>
</div>
<table class="table table-striped">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Description</td>

        </tr>

    }
</table>