<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionallinoneturka.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/849ee4e4-5067-47c4-af4e-8f14713503d6/resourcegroups/rg-func2/providers/Microsoft.Web/sites/FunctionAllInOneTurka</ResourceId>
    <UserName>$FunctionAllInOneTurka</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://functionallinoneturka.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>