<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/849ee4e4-5067-47c4-af4e-8f14713503d6/resourceGroups/rg-container/providers/Microsoft.ContainerRegistry/registries/turkareg</ResourceId>
    <ResourceName>turkareg</ResourceName>
    <ResourceGroup>rg-container</ResourceGroup>
    <Subscription>Azure Pass - Sponsorluk</Subscription>
    <RegistryUrl>https://turkareg.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>57206b6a-b627-46b9-a84e-887dbccff756</ProjectGuid>
  </PropertyGroup>
</Project>